***********************************************************************************************
Welcome to {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_kernel }})
Hostname: {{ inventory_hostname }}
Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

Maintained by: {{ app.username }}
System Name: {{ app.system_name }}
Version: {{ app.system_version }}
***********************************************************************************************
